<div class="footer-inner">
  <% if (theme.footer.content) { %>
    <div class="footer-content">
      <%- theme.footer.content %>
    </div>
  <% } %>
  <% if (theme.footer.statistics.enable) { %>
    <%- partial('_partials/footer/statistics.ejs') %>
  <% } %>
  <% if(theme.footer.beian.enable) { %>
    <!-- 备案信息 ICP for China -->
    <%- partial('_partials/footer/beian.ejs') %>
  <% } %>
  <% if(theme.web_analytics.cnzz) { %>
    <!-- cnzz Analytics Icon -->
    <span id="cnzz_stat_icon_<%= theme.web_analytics.cnzz %>" style="display: none"></span>
  <% } %>
  <% if(theme.footer.running_time){%>
    <span id="running_times">本站勉强运行: <span id="runDays">0</span>天<span id="runHours">0</span>小时<span id="runMins">0</span>分<span id="runSeconds">0</span>秒</span>
      <script>
        function runtime() {
          X = new Date("<%= theme.footer.running_time %>");
          Y = new Date();
          T = (Y.getTime() - X.getTime());
          M = 24 * 60 * 60 * 1000;
          a = T / M;
          A = Math.floor(a);
          b = (a - A) * 24;
          B = Math.floor(b);
          c = (b - B) * 60;
          C = Math.floor((b - B) * 60);
          D = Math.floor((c - C) * 60);
  
          document.getElementById("runDays").innerHTML = A
          document.getElementById("runHours").innerHTML = B
          document.getElementById("runMins").innerHTML = C
          document.getElementById("runSeconds").innerHTML = D
        }
        setInterval(runtime, 1000);
      </script>
  <%}%>
</div>